to add.txt
*.csv
lightning_logs/
checkpoints/
arabert/
__pycache__/
Fine_tuning_for_stance_classification.ipynb
t.ipynb
t.py
checkpoints_test.py
wrong_checkpoints/
.gitignore
test_prompting.py
test_prompting2.py
*-lexical
output.txt
output2.txt
output2.txt
results/
results_101/
final_checkpoints/
.cometml-runs/
old_utils/